[submodule "facebak-api"]
	path = facebak-api
	url = git@github.com:fanambynana/facebak-api.git
[submodule "facebak-frontend"]
	path = facebak-frontend
	url = git@github.com:fanambynana/facebak-frontend.git
